<div class="relative-wrapper fill-to-body map">
    <div id="mapid"></div>
    <div class="candy-count">
        <picture class="profile">
            <a href="" ng-link="['Profile']">
                <img src="/assets/profile.png" alt="">
            </a>
        </picture>
        <picture>
            <img src="/assets/sm-candybar.png" alt="">
            <small>x</small>{{$ctrl.currentUser.candies[0].count}}
        </picture>
        <picture>
            <img src="/assets/sm-lollipop.png" alt="">
            <small>x</small>{{$ctrl.currentUser.candies[1].count}}
        </picture>
        <picture>
            <img src="/assets/sm-hard-candy.png" alt="">
            <small>x</small>{{$ctrl.currentUser.candies[2].count}}
        </picture>
    </div>
</div>